<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <a href = "/login">Вход</a>
        <a href = "/register">Регистрация</a>
        <a href = "/profile">Личный кабинет</a>
        <a href = "/logout">Выйти</a>
        {%if current_user.is_employer== True%}
        <a href = "/create_post">Создать объявление</a>
        {%endif%}
        {%if current_user.is_employer== False%}
        <a href="/create_resume">Создать резюме</a>
        {%endif%}
        
    </header>
<form action="" method="post">
    <p><input type=text name=title value={{resume_material.title}} placeholder="{resume_material.title}">
    <p><input type=text name=text value={{resume_material.text}} placeholder="{resume_material.text}">
    <p><input type=text name=skills value={{resume_material.skills}} placeholder="{resume_material.skills}">
    <p><input type=text name=job_time value={{resume_material.job_time}} placeholder="{resume_material.job_time}">
    <p><input type=text name=job_salary value={{resume_material.job_salary}} placeholder="{resume_material.job_salary}">
    <p><input type=submit value=Post>
    </form>
</body>
</html>