<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <a href = "/login">Вход</a>
        <a href = "/register">Регистрация</a>
        <a href = "/profile">Личный кабинет</a>
        <a href = "/logout">Выйти</a>
        {%if current_user.is_employer== True%}
        <a href = "/create_post">Создать объявление</a>
        {%endif%}
        {%if current_user.is_employer== False%}
        <a href="/create_resume">Создать резюме</a>
        {%endif%}
        
    </header>
    <div>
        <div>Должность {{post.title}}</div>
        <div>Описание {{post.text}}</div>
        <div>Необходимые навыки: {{post.skills}}</div>
        <div>Просмотрено: {{post.seen}}</div>

        
        {% if is_authenticated == "False" %}
        <a href = "/login">Откликнуться</a>
        <form action="" method="post">
            <input type="hidden" name="data" value= "{{ userpost.userid }}">
            <p><input type=submit name="button" value="View">
        </form >
        {% endif %}
        {%if is_owner == True %}
        <form action="" method="post">
            <p><input type=submit name="button" value="Edit">
        </form >
        <form action="" method="post">
            <p><input type=submit name="button" value="Delete">
        </form >
        {% endif %}
        {% if is_owner == False %}
            {% if is_autheticated == "True" %}
            <a href = "/profile">Откликнуться</a>
        <form action="" method="post">
            <input type="hidden" name="data" value= "{{ userpost.userid }}">
            <p><input type=submit name="button" value="View">
        </form >
            {% endif %}
        
        {% endif %}
    </div>

</body>
</html>